@page
@model Bortsevych.Pages.Admin.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.ID" class="control-label"></label>
                <input asp-for="Project.ID" class="form-control" />
                <span asp-validation-for="Project.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Title" class="control-label"></label>
                <input asp-for="Project.Title" class="form-control" />
                <span asp-validation-for="Project.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Description" class="control-label"></label>
                <input asp-for="Project.Description" class="form-control" />
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Languages" class="control-label"></label>
                <input asp-for="Project.Languages" class="form-control" />
                <span asp-validation-for="Project.Languages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.HTMLPage" class="control-label"></label>
                <input asp-for="Project.HTMLPage" class="form-control" />
                <span asp-validation-for="Project.HTMLPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.CreateAt" class="control-label"></label>
                <input asp-for="Project.CreateAt" class="form-control" />
                <span asp-validation-for="Project.CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.UpdateAt" class="control-label"></label>
                <input asp-for="Project.UpdateAt" class="form-control" />
                <span asp-validation-for="Project.UpdateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
